.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width:max(10%,80px);
    color: beige;
    text-shadow: 3px 0 0 #9d3535;
}
.navbar .profile{
    width: 40px;
}